# Temporary files
tests/data/temp/*

# Local config files
config_examples/local_*

# Requirement Specification
specification.yaml

# .idea but not runConfigurations
.idea/*
!/.idea/runConfigurations
.vscode/*
# Virtual python environment
.venv
# Any __pycache__ and .pyc files
__pycache__/
*.pyc
