# Related to testing and test coverage
tests/data/temp/*
.coverage

# Local files (for development)
local_*

# Requirement Specification
specification.yaml

# .idea but not runConfigurations
.idea/*
!/.idea/runConfigurations
.vscode/*

# Virtual python environment
.venv

# Any __pycache__ and .pyc files
__pycache__/
*.pyc
