#temporary files
tests/data/temp/*

#Local config files
config_examples/local_*

# .idea but not runConfigurations
.idea/*
!/.idea/runConfigurations
.vscode/*
# Virtual python environment
.venv
# any __pycache__ and .pyc files
__pycache__/
*.pyc
